<header class="site-header fixed-top">
  <nav class="navbar navbar-expand-md" aria-label="メインナビゲーション">
    <div class="container">
      <a class="navbar-brand" href="/">
        株式会社ミツワ電子器製作所
        <span class="catchphrase">変圧器・ドロッパー電源専門メーカー</span>
      </a>
      <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse" data-bs-target="#navMenu"
        aria-controls="navMenu" aria-expanded="false" aria-label="メニューを開く">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="/#products">製品</a></li>
          <li class="nav-item"><a class="nav-link" href="/#company">会社概要</a></li>
          <li class="nav-item"><a class="nav-link" href="/#map">住所</a></li>
          <li class="nav-item"><a class="nav-link" href="/#contact">問い合わせ</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
