<header>
  <div class="header-inner">
    <div class="logo-area">
      <div class="logo">
        <a href="index.html">
          株式会社ミツワ電子器製作所
        </a>
      </div>
      <div class="catchphrase subtle-catchphrase">
        変圧器・ドロッパー電源（シリーズ電源）専門メーカー
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="#products">製品</a></li>
        <li><a href="#company">会社概要</a></li>
        <li><a href="#map">住所</a></li>
        <li><a href="#contact">問い合わせ</a></li>
      </ul>
    </nav>
  </div>
</header>